{% extends 'base.html' %}
{% block title %}Detail{% endblock title %}
{% block body %}

<br>
<style>
	
		html,table {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #7abecc !important;
		}

		th{
			color: aliceblue;
		}
		
</style>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Detail</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Collegename</th>
							<th>College Rank</th>
							<th>College Address</th>
							<th>Total Branches</th>
							<th>Hostel</th>
							<th>College Reviews</th>
						</tr>

						{% for i in detail %}
							<tr>
								<td>{{i.collegename}}</td>
								<td>{{i.collegrank}}</td>
								<td>{{i.colleadd}}</td>
								<td>{{i.TotalBranch}}</td>
								<td>{{i.Hostel}}</td>
								<td>{{i.collegeReviews}}</td>
							</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>



<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">
				{{myFilter.form.as_p}}

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div> 
</div>

{% endblock body %}


